h1,
h2,
h3 {
  page-break-after: avoid;
}

table {
  page-break-inside: avoid;
  font-size: 0.85em !important;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

th, td {
  padding: 4px 6px !important;
}
